# Loop through columns and apply ADF test
for (col in colnames(final.st_diff)) {
  col_data <- final.st_diff[, col]
  adf_test_result <- adf.test(col_data)
  print(paste("ADF Test for", col))
  print(adf_test_result)
}
